.contato {
    display: grid;
    margin: 0 auto;
    margin-top: 160px;
    max-width: 800px;
    border-radius: 24px;
    padding: 2rem;
    background: #fff;
    filter: drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
}

.h1-text-align {
    text-align: center;
}

.contato-caixa-fototexto {
    display: flex;
    justify-content: center;
    margin: 4rem 0rem;
}

.contato-caixa-texto {
    display: grid;
    justify-self: start;
    align-self: center;
    padding: 0rem 4rem;
    gap: 4px;
}



.contato-caixa-texto h1 {
    font-weight: 600;
    line-height: 1.1;
    color: #1b1b1b;
}

.contato-caixa-texto h2 {
    font-weight: 600;
    line-height: 1.1;
    /* color: linear-gradient(#5737cf, #893ac5); */
    background: -webkit-gradient(linear, left top, left bottom, from(#7056cc), to(#9658c5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato-caixa-texto p {
    font-family: "Lato";
    font-weight: 600;
    color: #676767;
}

.contato-caixa-texto img {
    color: #676767;
    width: 100%;
    max-height: 100%;
}

.contato-caixa-foto {
    justify-self: center;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 8px;
}

.flex img {
    width: 24px;
    max-height: 24px;
}

.flex p {
    line-height: 1.1;
}

@media (max-width: 1000px) {
    .contato {
        max-width: 700px;
    }

    .contato-caixa-texto {
        padding: 0rem 2rem;

    }
}

@media (max-width: 700px) {

    .contato-caixa-fototexto {
        

    }
}


